<div class="head-top-container">
  <nz-breadcrumb>
    <nz-breadcrumb-item *ngFor="let item of datas">
      <a>{{item}}</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-dropdown>
    <div nz-dropdown class="avator-container">
        <img class="avator" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1534999091499&di=1f794ccd2a58fa30e6b1bd5d6503675a&imgtype=jpg&src=http%3A%2F%2Fimg1.imgtn.bdimg.com%2Fit%2Fu%3D1934952861%2C3453579486%26fm%3D214%26gp%3D0.jpg" alt="用户头像">
    </div>
      <ul nz-menu>
        <li nz-menu-item style="text-align:center;">首页</li>
        <li nz-menu-item style="text-align:center;">退出</li>
      </ul>
    </nz-dropdown>

  <!-- <ul class="avator-container" nz-menu [nzMode]="'horizontal'">
      <li nz-submenu class="ant-menu-submenu-open">
        <span title>
            <img class="avator" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1534999091499&di=1f794ccd2a58fa30e6b1bd5d6503675a&imgtype=jpg&src=http%3A%2F%2Fimg1.imgtn.bdimg.com%2Fit%2Fu%3D1934952861%2C3453579486%26fm%3D214%26gp%3D0.jpg" alt="用户头像">
        </span>
        <ul class="menu-container">
            <li nz-menu-item>首页</li>
            <li nz-menu-item>退出</li>
        </ul>
      </li>
    </ul> -->
</div>

